/**
 * baseline styles
 */
html, body {
    height: 100%;
}
@font-face {
    font-family: "Open Sans";
    src: url('../font/OpenSans.woff') format('woff'),
         url('../font/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
	font-size: 100%;
	background: var(--background-color);
	color: var(--text-color);
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 150%;
	position: relative;
}
a {
    color: var(--link-colour);
    &:hover, &:active {
        color: var(--hover-colour);
    }
}

/**
 * map container
 */

.leaflet-container {
	width: 100%;
	height: 100vh;
    padding: 0;
	margin: 0;
}

