body {
	position: relative;
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 10000;
    .top-bar-container {
        padding: 0 1rem;
    }
}
main {
    position: relative;
    padding-top: 4rem;
}
#map {
    width: 100%;
    height: calc(100vh - 4rem);
}
